/* Styling for contactform component */

.form-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  width: fit-content;
}

.submit-button {
  width: fit-content;
}

.TextField {
  margin-bottom: 2em;
  width: 15em;
}
