/* /* Main layout för all pages 
@media only screen and (min-width: 992px) {
  .container2 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(47, 17, 119), rgb(114, 114, 251));
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: max-content 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(114, 114, 251);

  }

  .row {
    display: flex;
    flex-direction: row;
  }
  .margin-bottom {
    margin-bottom: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;

    width: 40%;
    padding: 2em;
    line-height: 20px;
    box-sizing: border-box;
    background-color: white;
  }

  .sidebar2 {
    flex-direction: column;
    width: 10%;

    line-height: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(114, 114, 251);
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;

   
  }
  .content3 {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
    margin: 0;

  
  }

  .content2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 4em;
    box-sizing: border-box;
    flex-grow: 1;

  
  }

  .footer {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    border-top: 1px solid rgb(103, 182, 251);
    box-sizing: border-box;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 15px;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .bold-text {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }


  .img-background {
    width: 80%;
    margin-bottom: 20px;
    opacity: 95%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px 2px rgb(183, 183, 183);
  }
  
  .img-portrait {
    width: 30%;
    border: 1px solid black;
    margin-bottom: 5px;
    float: right;
  }
 
  .red {
    color: crimson;
    font-size: larger;
    text-align: center;
    padding: 10px;
  }
 
  .padding-left {
    padding-left: 10px;
  }



  .link-tabletmobile {
    display: none;
  }
  .img-portrait-tabletmobile {
    width: 40%;
    border: 1px solid black;
    margin-bottom: 5px;
    float: right;
  }
  .link-tabletmobile {
    display: none;
  }

  

  .form-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    width: fit-content;
  }

  .submit-button {
    width: fit-content;
  }

  .TextField {
    width: 15em;
  }



  .container-projects-row {
    display: flex;
    flex-direction: row;
    height: max-content 100vh;
  
  }

  .container-projects-column {
    display: flex;
    flex-direction: column;
    height: max-content 100vh;
    padding: 10px;
  }
  img {
    float: right;
    width: 30%;
    border: 0.5em solid black;
    padding: 1em;
    margin: 1em;
  }

    .img-app {
    width: 35%;
    padding-left: 10px;
  } 

  Styling for navbar component 

  .Link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(236, 228, 228);
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }

  .Link-p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(120, 208, 239);
    text-align: center;
    padding: 10px;
  }

  .Nav-Bar-Box {
    height: 5em;
    display: flex;
    background-color: rgb(13, 14, 14);
    flex-direction: row;
    padding-right: 2em;
    align-items: center;
    justify-content: right;
  }

  .mobile-navbar {
    display: none;
  }

  TestLayout 

  .content2 h1 {
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
  }
  .home {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    line-height: 0em;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    margin-left: 10em;
    width: 80%;
    box-sizing: border-box;
  }

  
}
 */
