@import "./variables/colors";
@import "./variables/fonts";
@import "./pages/homePage";
@import "./pages/notfoundPage";
@import "../components/About/aboutPage";
@import "../components/Contact/contactPage";
@import "../components/Contact/contactForm";
@import "../components/Footer/footer";
@import "../components/Navigation/navbar";
@import "../components/Project/project";
@import "../components/Project/projectContainer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-purple {
  color: $highlight-purple;
}
