@media only screen and (max-width: 600px) {
  .color-blue,
  a:hover,
  .active {
    color: #4e85ee;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
  }
  body {
    background-color: #00030c;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    max-width: 100vw;
    box-sizing: border-box;
    padding-bottom: 10em;
  }

  .box-column-50 {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: rgb(236, 228, 228);
    font-size: 0.9em;
  }

  .italic {
    font-style: italic;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    color: rgb(236, 228, 228);
  }
  .bold-text {
    font-size: 1.5em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: rgb(236, 228, 228);
  }

  /* AboutPage */

  .img-portrait {
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* styling for project component */

  .container-projects-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container-project-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-project {
    width: 60%;
    border: 1px solid black;
    margin-top: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Styling for navbar component */

  .Link {
    display: none;
  }

  .Link-p {
    display: none;
  }

  .Nav-Bar-Box-rigth {
    height: 4em;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin: 0;
    align-self: center;
    justify-content: left;
    box-sizing: border-box;
    width: 100%;
  }

  .mobile-navbar {
    display: inline-block;
    position: relative;
  }
  .menu-icon {
    color: rgb(236, 228, 228);
  }

  .drop-down-menu {
    display: block;
    position: absolute;
    flex-direction: column;
    height: 12em;
    width: fit-content;
    padding: 1em;
    justify-content: left;
    background-color: #00030ccf;
  }
  .Link-drop-down {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgb(236, 228, 228);
    font-weight: 600;
    text-align: left;
    padding: 0.5em;
    margin: 0;
    z-index: 1;
  }

  /* HomePage */

  .container-home {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: fit-content;
    padding-bottom: 20em;
    box-sizing: border-box;
  }
  .content-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    height: 100%;
    box-sizing: border-box;
    background: linear-gradient(#131923, #06060c);
    flex-grow: 1;
  }
  .content-home h1 {
    font-size: 3em;
    margin-top: 40%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    color: rgb(236, 228, 228);
  }
  .home {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1em;
    padding-top: 0.5em;
    margin: 0;
    color: rgb(236, 228, 228);
  }

  .contact-button {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 0.8em;
    cursor: pointer;
    width: 7em;
    font-family: "Montserrat", sans-serif;
    background-color: #1913bf;
    margin-top: 2em;
    margin-left: 1em;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* style for contactcomponent */
  .form-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
  }
  .TextField {
    width: 12em;
  }

  .submit-button {
    width: fit-content;
  }

  .contact-button-2 {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1em;
    cursor: pointer;
    width: 6em;
    font-family: "Montserrat", sans-serif;
    background-color: #4e85ee;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(9, 9, 9, 0.19);
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
  }
  .link-desktop {
    font-size: 1em;
  }
  .main-row-100-black {
    display: flex;
    flex-direction: row;
    background-color: #00030ccf;
  }
  .Nav-Bar-Box-left {
    display: none;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2em;
    margin: 0rem;
    background-color: #00030c;
    box-sizing: border-box;
  }

  /* TESTAR */
  .card {
    width: 15em;
    height: 20em;
    border-radius: 3em;
    border: 2px solid #4e85ee;
    margin: 2em;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card .mobile {
    display: none;
  }

  .module {
    display: none;
  }
}
