@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    height: max-content 100vh;
    width: max-content 100vw;
    box-sizing: border-box;
    margin: 2em;
    padding: 2em;
  }

  .sidebar {
    flex-direction: column;
    width: 80%;
    background-color: inherit;
    padding: 0;
    margin: 0;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .footer {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
    border-top: 1px solid rgb(103, 182, 251);
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 15px;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .bold-text {
    font-size: 18px;
    font-weight: 600;
  }

  .link-tabletmobile {
    display: flex;
    margin-top: 2em;
  }

  .link-desktop {
    display: none;
  }

  /* HomePage */
  .img-background {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
    opacity: 95%;
  }
  /* AboutPage */
  .img-portrait {
    display: none;
  }
  .img-portrait-tabletmobile {
    width: 40%;
    border: 1px solid black;
    margin-bottom: 5px;
    float: right;
  }
  /* NotFoundPage */
  .red {
    color: crimson;
    font-size: larger;
    text-align: center;
    padding: 10px;
  }
  /* Footer */
  .padding-left {
    padding-left: 10px;
  }
  /* styling for product component */

  .container-projects-row {
    display: flex;
    flex-direction: row;
    height: max-content 100vh;
    padding: 20px;
  }

  .container-projects-column {
    display: flex;
    flex-direction: column;
    height: max-content 100vh;
    padding: 10px;
  }

  .img-app {
    width: 20%;
    padding-left: 10px;
  }
  /* Styling for navbar component */

  .Link {
    display: none;
  }

  .Link-p {
    display: none;
  }

  .Nav-Bar-Box {
    height: 3em;
    display: flex;
    flex-direction: row;
    padding: 0.5em;

    background-color: rgb(103, 182, 251);
    align-self: center;
    justify-content: left;
  }

  .mobile-navbar {
    display: inline-block;
    position: relative;
  }
  .menu-icon {
    margin-left: 0.5em;
  }

  .drop-down-menu {
    display: block;
    position: absolute;
    flex-direction: column;
    height: 12em;
    width: fit-content;
    justify-content: left;
    background-color: rgb(103, 182, 251);
  }
  .Link-drop-down {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
    text-align: left;
    padding: 0.5em;
    margin: 0;
    z-index: 1;
  }
  /* Styling for contactform component */

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
  }
  .TextField {
    width: 10em;
  }

  .submit-button {
    width: fit-content;
  }
}
