/* Styling for navbar component */

.Link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.Link-p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 10px;
}

.Nav-Bar-Box {
  height: 3em;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  background-color: rgb(164, 213, 255);
  align-items: center;
  justify-content: center;
}

.mobile-navbar {
  display: none;
}
