.Link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  font-weight: 600;
}

.Nav-Bar-Box {
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: rgb(152, 178, 201);
  text-align: center;
}

.on-hover-menu-item {
  text-shadow: azure;
}
