.container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin: 2rem;
  height: max-content 100vh;
}

.container-2 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;
  height: max-content 100vh;
}
p {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.img-app {
  width: 200px;
  padding-left: 10px;
}
.bold-text {
  font-size: 26px;
  font-weight: 600;
}

.img-portrait {
  width: 300px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.img-background {
  width: 700px;
  border: 1px solid black;
  margin-bottom: 20px;
  opacity: 95%;
  margin-top: 15px;
}

.div1 {
  width: 50%;
  padding: 10px;
  line-height: 20px;
  padding-left: 20px;
}

.div2 {
  line-height: 20px;
  padding: 10px;
}

.div3 {
  width: 30%;
  padding: 10px;
  line-height: 15px;
  padding-top: 5em;
}

.div4 {
  width: 70%;
  line-height: 15px;
  padding: 10px;
}

.red {
  color: crimson;
  font-size: larger;
  text-align: center;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;

  font-family: "Montserrat", sans-serif;

  align-items: center;
  /*   border: 5px solid rgb(103, 182, 251); */
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 2rem;
  border-top: 1px solid rgb(103, 182, 251);
}

.padding-left {
  padding-left: 10px;
}

.contact-links {
  display: flex;
  flex-direction: row;
}

.submit-button {
  width: fit-content;
}

.menu-container {
  flex-direction: column;
  width: 20%;
  background-color: aliceblue;
  /* border: 1px solid rgb(103, 182, 251); */
  padding: 2em;
  margin: 2em;
  line-height: 20px;
}

.content-container {
  flex-direction: column;
  width: 80%;
  padding: 2em;
}

.container-projects {
  display: flex;
  flex-direction: row;
  height: max-content 100vh;
}
.container-projects-row {
  display: flex;
  flex-direction: row;
  height: max-content 100vh;
  padding: 20px;
}

.container-projects-column {
  display: flex;
  flex-direction: column;
  height: max-content 100vh;
  padding: 10px;
}

ul li {
  padding-left: 20px;
}
