/* styling for product component */

.container-projects-row {
  display: flex;
  flex-direction: row;
  height: max-content 100vh;
  padding: 20px;
}

.container-projects-column {
  display: flex;
  flex-direction: column;
  height: max-content 100vh;
  padding: 10px;
}

.img-app {
  width: 200px;
  padding-left: 10px;
}
