@media only screen and (min-width: 992px) {
  /* Styling */
  .color-blue,
  a:hover {
    color: #4e85ee;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  body {
    background-color: #00030c;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: max-content 100vw;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-top: 10em;
    padding-bottom: 10em;
  }
  .box-column-50 {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    margin: 0;
    width: 60%;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: rgb(236, 228, 228);
    font-size: 0.9em;
  }

  .italic {
    font-style: italic;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    color: rgb(236, 228, 228);
  }
  .bold-text {
    font-size: 1.5em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: rgb(236, 228, 228);
  }

  /* Style for projectcomponent */
  .container-projects-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container-project-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-project {
    width: 60%;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* HomePage */

  .container-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: max-content 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .content-home {
    display: flex;
    flex-direction: column;

    padding: 10%;
    width: 100%;
    background: linear-gradient(#131923, #06060c);
    box-sizing: border-box;
    flex-grow: 1;
  }

  .content-home h1 {
    font-size: 4em;
    margin-top: 2em;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(236, 228, 228);
    font-weight: 800;
    padding-left: 5%;
  }
  .content-home p {
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    color: rgb(236, 228, 228);
    margin: 0;
    padding-left: 5%;
  }

  .contact-button {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 0.8em;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1em;
    cursor: pointer;
    width: 8em;
    font-family: "Montserrat", sans-serif;
    background-color: #4e85ee;
    margin-top: 1em;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Aboutpage */

  .img-portrait {
    float: right;
    width: 30%;
    margin-left: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(9, 9, 9, 0.19);
  }

  /* Style for contactcomponent */
  .form-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    width: fit-content;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    border-radius: 3em;
  }

  .submit-button {
    width: fit-content;
  }

  .TextField {
    width: 15em;
  }
  .contact-button-2 {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1em;
    cursor: pointer;
    width: 8em;
    font-family: "Montserrat", sans-serif;
    background-color: #4e85ee;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.2), 0 6px 20px 0 rgba(9, 9, 9, 0.19);
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
  }

  /* Styling for navbar component */

  .Link {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: rgb(236, 228, 228);
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }

  .Link-p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: rgb(144, 144, 144);
    text-align: center;
    padding: 10px;
  }

  .Nav-Bar-Box-right {
    height: 5em;
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    width: 50%;
  }
  .Nav-Bar-Box-left {
    height: 5em;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: 50%;
  }

  .mobile-navbar {
    display: none;
  }

  .main-row-100-black {
    display: flex;
    flex-direction: row;
    background-color: #00030ccf;
  }
  .active {
    color: #4e85ee !important;
  }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2em;
    margin: 0;
    box-sizing: border-box;
    background-color: #00030c;
  }

  /* TESTAR */
  .card {
    width: 15em;
    height: 20em;
    border-radius: 3em;
    border: 2px solid #4e85ee;
    margin: 2em;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card a {
    margin: 0.5em;
  }

  .projectmodule {
    width: fit-content;
    height: 100%;
    background-color: #00030c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1em;
  }

  .projectmodule a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
  }

  .module {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    background-color: #00000be0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .module:target {
    visibility: visible;
  }
}
