@media only screen and (min-width: 600px) and (max-width: 992px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: max-content 100vh;
    width: max-content 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .main-row-100 {
    display: flex;
    flex-direction: row;
  }
  .main-row {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .aside-10 {
    padding: 0;
    margin: 0;
    width: 10%;
    background: linear-gradient(rgb(47, 17, 119), rgb(114, 114, 251));
  }

  .main-column-80 {
    display: flex;
    flex-direction: column;
    padding: 3em;
    margin: 0;
    width: 80%;
    background-color: rgb(223, 230, 239);
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .box-column-50 {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    width: 80%;
  }
  .box-column-30 {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    margin: 0;
    width: 80%;
  }
  .box-column-70 {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    margin: 0;
    width: 80%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: fit-content;

    padding-left: 2em;
    padding-top: 1em;
    margin: 2rem;
    border-top: 1px solid rgb(103, 182, 251);
    box-sizing: border-box;
  }
  .button {
    border: none;
    color: black;
    padding: 0.8em;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1.2em;
    cursor: pointer;
    width: 12em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: rgb(223, 230, 239);
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 15px;
  }

  h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .bold-text {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
  }

  .link-tabletmobile {
    display: flex;
    margin-top: 2em;
  }

  /* AboutPage */

  .img-tabletmobile {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 5px;
    float: right;
    margin: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .img-portrait-tabletmobile {
    width: 50%;
    float: right;
    border: 1px solid black;
    margin-bottom: 5px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .img-portrait-desktop {
    display: none;
  }

  /* Styling for contactform component */

  .form-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    width: fit-content;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .submit-button {
    width: fit-content;
  }
  .TextField {
    margin: 1em;
    width: 15em;
  }
  .contact-button-2 {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1em;
    cursor: pointer;
    width: 6em;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(13, 14, 14);
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 600;
  }
  /* styling for project component */

  .container-projects-row {
    display: flex;
    flex-direction: row;
    height: max-content 100vh;
    padding: 20px;
  }

  .container-projects-column {
    display: flex;
    flex-direction: column;
    height: max-content 100vh;
    padding: 10px;
  }

  /* Styling for navbar component */

  .Link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(236, 228, 228);
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }

  .Link-p {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: rgb(120, 208, 239);
    text-align: center;
    padding: 10px;
  }

  .Nav-Bar-Box {
    height: 5em;
    display: flex;
    background-color: rgb(13, 14, 14);
    flex-direction: row;
    padding-right: 2em;
    align-items: center;
    justify-content: right;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
  }
  .Nav-Bar-Box-right {
    height: 5em;
    display: flex;
    background-color: rgb(13, 14, 14);
    flex-direction: row;
    padding-left: 2em;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
  }

  .mobile-navbar {
    display: none;
  }
  .Nav-Bar-Box-right img {
    width: 40px;
    display: flex;
    justify-content: left;
  }
  .main-row-100-black {
    display: flex;
    flex-direction: row;
    background-color: rgb(13, 14, 14);
  }
  /* HomePage */

  .container-home {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(47, 17, 119), rgb(114, 114, 251));
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .content-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4em;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
  }

  .content-home h1 {
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 20%;
    font-weight: 800;
  }
  .home {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    line-height: 1em;
    margin: 0em;
    padding-top: 0.5em;
  }

  .mobile-navbar {
    display: none;
  }
  .contact-button {
    border: none;
    border-radius: 1.5em;
    color: rgb(236, 228, 228);
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    font-size: 1.2em;
    cursor: pointer;
    width: 10em;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(13, 14, 14);
    margin-top: 1em;
    font-weight: 600;
  }

  .img-desktop {
    display: none;
  }
}
