.container-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: max-content 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient($background-color-light, #fff);

  .content-home {
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin-top: 4em;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;

    img {
      position: absolute;
      max-width: 800px;
      right: 15em;
      top: 10em;
    }
    h1 {
      font-size: 4em;
      font-family: $font-heading;
      color: $btn-color-Dark;
      font-weight: 800;
      padding-left: 5%;
    }
    p {
      font-size: 1.2em;
      font-family: $font-regular;
      color: $btn-color-Dark;
      margin: 0;
      padding-left: 5%;
    }

    .contact-button {
      border: none;
      border-radius: 1.5em;
      color: #fff;
      padding: 0.8em;
      margin-left: 5%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition-duration: 0.4s;
      font-size: 1em;
      cursor: pointer;
      width: 9em;
      font-family: $font-regular;
      margin-top: 2em;
      font-weight: 600;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #4a0e56;
    }

    .contact-button:hover {
      background-color: #711883;
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    min-height: 5em;
    width: 100%;
    background-color: #711883;
  }
}
