.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: $background-color-light;

  h1 {
    font-weight: 400;
    font-family: $font-heading;
    color: $font-color;
  }
}
